.profile {
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* background-color: #333; */
  background-image: url("../../../redplus.jpeg");
  /* background-color: #38257d; */
  background-repeat: repeat-x 50;
}

form[type="filter-job"] {
  position: absolute;
  width: 26%;
  height: 34%;
  margin: 100px 10px;
  background-color: #f5f1f3;
  opacity: 0.9;
  box-shadow: 0 0 40px rgb(190, 13, 13);
}

select {
  position: relative;

  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 16px;
  font-size: 18px;
}

label[type="job-type"] {
  position: absolute;
  margin-top: 20px;
  text-align: center;
}

footer {
  background-color: #e9e9e9;
  padding: 10px;
  text-align: center;
}
