.update-password-body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sign Up container */
.update-password-container {
  width: 400px;
  margin: 90px auto;
  padding: 20px;
  background-color: #73a6e0;
  border-radius: 10px;
  text-align: center;
  opacity: 0.9;
}

#Light #update-password-container a {
  color: #848884;
}

/* Login Hover Transition effect */
#update-password-container:hover {
  transform: scale(1.03);
}

.forgot-password-body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Forgot password link */
#forgot-password-container a {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

#Light #forgot-password-container a {
  color: #848884;
}

/* Login Hover Transition effect */
#forgot-password-container:hover {
  transform: scale(1.03);
}

@media only screen and (max-width: 500px) {
  .update-password-container {
    width: 200px;
    margin: 110px auto;
  }
}
